*{
  
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
}

.about-section{
 
    height: 100%;
    padding: 100px ;
}

.inner-container{
    width: 100%;
    /* float: right; */
    background-color: #262121;
    color: aliceblue;
    padding: 100px;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #e8e5e5;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-size: 19px;
}
h1{
  color: #ffffff;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

span{
  cursor: pointer;
  font-size: 16px;
text-align: center;
padding: 10px;
  width: 500px;
}
span:hover{
background-image: linear-gradient(to right top, #f85370, #f35470, #ee5570, #e8556f, #e3566f);
color: #fff;
border-radius: 20px;
transition: 0.5s;

}
