header {
    justify-content: space-between;
}

ul.navbar {

    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    float: right;
}

ul.navbar li a {
    display: flex;
    color: white;
    margin-right: 100;
    padding: 10px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
    background-color: #f00a0a;
}

.title{
    color: #1e1b1b;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}