body {
    font-family: Arial;
    background-color: rgb(179, 15, 15);
}

.login-form {
    width: 500px;
    height: 450px;
    margin: 0 auto;
    padding: 90px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #212226;
    color: aliceblue;
    
}

.login-form .user,
.login-form .pswrd {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form .submit {
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p{
    display: flex; justify-content: center;
}
.signuplink{
    text-decoration: none; color: white;
}


/* header */
header {
    justify-content: space-between;
}

ul.navbar {

    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    float: right;
}

ul.navbar li a {
    display: flex;
    color: white;
    margin-right: 100;
    padding: 10px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
    background-color: #f00a0a;
}

